@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800&display=swap');
*,
*::before,
*::after{margin: 0;
padding: 0;
box-sizing: border-box;}

html{  font-size: 62.5%; scroll-behavior: smooth; }

body{ background-color: #6f96ac;  font-family: 'Montserrat', sans-serif;}


.sector{background-image: url(../img/g.jpg); background-repeat: no-repeat;height: 800px; background-size: cover;}

.titulo{ text-align: center;  font-size: 10em; margin-top: 10%; font-weight: 400; color: #fff;}

   




    .navbar{ padding: 10px;  box-shadow: 0 8px 32px 0 rgb(255, 255, 255);}

    .color__header{  background: #14207b65;}
    
   
    
    
    .navbar__link{border-radius: 20px; position: relative; font-size: 2em; padding: 10px 20px;transition: background .3s ease-in-out; display: inline-block;}
    .width-icon{ display: flex; align-items: center; gap: 8px;}
    
    
    .with-submenu:hover .submenu{ display: block; }
    
    .navbar__link:hover{ background-color: #999fca65; }
    
    .color__texto{ color: white;}
    
    
    .submenu{display: none; position: absolute; background-color: #d91b1b; }
    .submenu_item{ display: block; padding: 8px 8px 16px 16px; color: wheat; font-size: 1.9em;}
    .submenu__link:hover { color: #fff;}


























    .text__presentacion{font-size:  1.8em; }
.text__presentacion h2{ font-size: 1.9em; padding: 20px 0px;}

    
#nosotros{ background-color: #0000004c; height: 800px; margin-top: -2.2%;}

.linea{ border-bottom: 2px solid #6f96ac ;}

.imagen__presentacion img{ width: 100%; background-size: cover; }
.imagen__presentacion{ width: 79%;  margin-left: 100px; margin-top: 5%}

    .texto__cv{ background-color: #fcfcfc5c; border-radius: 5px; font-size: 2em;}


    .text-red{color: red; font-size: 20px;}




    
        .col_white_amrc { color:#FFF;}
        footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
        .pt2 { padding-top:40px ; margin-bottom:20px ;}
        footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
        .mb10 { padding-bottom:15px ;}
        .footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
        .footer_ul_amrc li {padding:0px 0px 5px 0px;}
        .footer_ul_amrc li a{ color:#CCC;}
        .footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
        .fleft { float:left;}
        .padding-right { padding-right:10px; }
        
        .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
        .footer_ul2_amrc li p { display:table; }
        .footer_ul2_amrc li a:hover { text-decoration:none;}
        .footer_ul2_amrc li i { margin-top:5px;}
        
        .bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
        .foote_bottom_ul_amrc {
            list-style-type:none;
            padding:0px;
            display:table;
            margin-top: 10px;
            margin-right: auto;
            margin-bottom: 10px;
            margin-left: auto;
        }
        .foote_bottom_ul_amrc li { display:inline;}
        .foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
        
        .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
        .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
        .social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
        .social_footer_ul li i {  width:20px; height:20px; text-align:center;}
        
        @media (min-width: 300px) and (max-width: 500px){

.titulo{ font-size: 5em;}

.imagen__presentacion { margin-left: auto; margin-right: auto; width: 100%;

 }
        }